@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .hoverable {
        @apply duration-100 hover:shadow-primary-400/10 hover:shadow-lg hover:-translate-x-1 hover:-translate-y-2;
    }

    .primary-border {
        @apply border-2 border-solid border-primary-500;
    }
}

@layer utilities {
    .text-normal {
        @apply text-gray-800;
    }
    .text-prominent {
        @apply font-semibold text-gray-950;
    }
}

:root {
    font-size: 18px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sour Gummy";
}
